@model Edtech.Models.MerchantOrder
<button id="RzP_btn" hidden>Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


@* Background Start *@


<style>
    body {
        background-image: url('https://t4.ftcdn.net/jpg/06/64/60/27/240_F_664602784_SzjCRMXIvKtYGhuXNaXdzMRiaVQU8VHh.jpg');
        background-size: 100% 72%;
        background-repeat: no-repeat;
        /* background-attachment: fixed; */
    }

    .payment-container {
        background-color: rgba(255, 255, 255, 0.6); /* Adjust the alpha value for transparency */
        padding: 20px;
        border-radius: 10px;
        margin-top: 50px;
    }
</style>



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<form class="form-horizontal payment-container" asp-action="ProcessRequestOrder" method="post" id="contact_form">
    <center><h2><b>Order Details</b></h2></center>
    <div class="form-group">
        <label class="col-md-4 control-label">Customer Name</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                <input placeholder="Name" class="form-control" type="text" asp-for="Name" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">E-Mail</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-envelope" style="font-size:11px"></i></span>
                <input placeholder="E-Mail Address" class="form-control" type="text" asp-for="Email" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Phone Number</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                <input placeholder="Phone" class="form-control" type="text" asp-for="PhoneNumber" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Address</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book-o" style="font-size:11px"></i></span>
                <input placeholder="Address" class="form-control" type="text" asp-for="Address" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Course Name</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-address-book-o" style="font-size:11px"></i></span>
                <input placeholder="Course Name" class="form-control" type="text" asp-for="CourseTitle" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label">Amount (INR)</label>
        <div class="col-md-4 inputGroupContainer">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-inr" style="font-size:19px"></i></span>
                <input placeholder="Amount (INR)" class="form-control" type="text" asp-for="Amount" autocomplete="off" required>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-4 control-label"></label>
        <div class="col-md-4" style="text-align:center;">
            <button type="submit" class="btn btn-warning">SUBMIT <span class="glyphicon glyphicon-send"></span></button>
            <a href="@Url.Action("Index", "Dashboard")" class="btn btn-primary">Dashboard</a>
        </div>
    </div>

</form>



@* Background End *@

<script>
    var options = {
        "key": "@Html.DisplayFor(model => model.RazorpayKey)", // Enter the Key ID generated from the Dashboard
        "amount": "@Html.DisplayFor(model => model.Amount)", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "@Html.DisplayFor(model => model.Currency)",
        "name": "@Html.DisplayFor(model => model.Name)",
        "description": "@Html.DisplayFor(model => model.Description)",
        "image": "https://avatars.githubusercontent.com/u/65504583?v=4", // You can give your logo url
        "order_id": "@Html.DisplayFor(model => model.OrderId)",
        "handler": function (response){
            // After payment successfully made response will come here
            // Set the data in hidden form
            document.getElementById('rzp_paymentid').value = response.razorpay_payment_id;
            document.getElementById('rzp_orderid').value = response.razorpay_order_id;
            // // Let's submit the form automatically
            document.getElementById('rzp-paymentresponse').click();
        },
        "prefill": {
            "courseTitle": "@Html.DisplayFor(model => model.CourseTitle)",
            "name": "@Html.DisplayFor(model => model.Name)",
            "email": "@Html.DisplayFor(model => model.Email)",
            "contact": "@Html.DisplayFor(model => model.PhoneNumber)"
        },
        "notes": {
            "address": "@Html.DisplayFor(model => model.Address)"
        },
        "theme": {
            "color": "#F37254"
        }
    };
        var rzp1 = new Razorpay(options);
        //<!-- onload function -->
        window.onload = function(){
            document.getElementById('RzP_btn').click();
        };
        document.getElementById('RzP_btn').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
</script>
<form action="CompleteOrderProcess" method="post" asp-antiforgery="true">
    <input type="hidden" id="rzp_paymentid" name="rzp_paymentid" />
    <input type="hidden" id="rzp_orderid" name="rzp_orderid" />
    <input type="hidden" id="OrderId" name="OrderId" value="@Html.DisplayFor(model => model.OrderId)" />
    <input type="hidden" id="RazorpayKey" name="RazorpayKey" value="@Html.DisplayFor(model => model.RazorpayKey)" />
    <input type="hidden" id="Amount" name="Amount" value="@Html.DisplayFor(model => model.Amount)" />
    <input type="hidden" id="Currency" name="Currency" value="@Html.DisplayFor(model => model.Currency)" />
    <input type="hidden" id="name" name="name" value="@Html.DisplayFor(model => model.Name)" />
    <input type="hidden" id="email" name="email" value="@Html.DisplayFor(model => model.Email)" />
    <input type="hidden" id="PhoneNumber" name="PhoneNumber" value="@Html.DisplayFor(model => model.PhoneNumber)" />
    <input type="hidden" id="Address" name="Address" value="@Html.DisplayFor(model => model.Address)" />
    <input type="hidden" id="email" name="email" value="@Html.DisplayFor(model => model.PhoneNumber)" />
    <input type="hidden" id="Description" name="Description" value="@Html.DisplayFor(model => model.Description)" />
    <input type="hidden" id="CourseTitle" name="CourseTitle" value="@Html.DisplayFor(model => model.CourseTitle)" />
    <button type="submit" id="rzp-paymentresponse" class="btn btn-primary" hidden>Submit</button>
</form>